<h1>Difference as the crow files</h1>



<div>
  <%= form_tag("/calculate_difference", method: "get") do %>
  <%= label_tag(:city1, "City1:") %>
  <%= text_field_tag(:city1) %>
</div>
  
  <div>
  	<%= label_tag(:city2, "City2:") %>
  	<%= text_field_tag(:city2) %>
  </div>

  <div>
  <%= submit_tag("calculate") %>
  </div>

  <div>
   <p> The closets cities are <%= @city %> and the distance between them is <%= @distance %> miles </p>
  </div>

<% end %>



<%= link_to 'Create New Location', locations_path %>

